/* 
    Document   : responsive
    Created on : Jul 2, 2013, 11:46:07 AM
    Author     : jnapoleone
    Description:
        Purpose of the stylesheet follows.
*/

@media screen and (max-width: 479px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        font-size: 75%;
        line-height: 2em;
    }
    #page {
        /*width: 100%;*/
        padding: 0 5px;
    }
    
    #header {
        padding-top: 0; /*0.60em;*/
        position: relative;
    }
    
    #header #logo {
        display: inline;
        float: none;
        margin-right: 0;
        /*margin-bottom: 0.313em;*/
        /*height: 90px;*/
    }
    
    #logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*width: 60%;*/
        height: auto;
    }
    
    #header .region-header {
        clear: both;
        max-width: 100%; /*19.375em;*/
        overflow: hidden;
        width: 100%;
    }
    
    #header .block-locale {
        border-top: none;
        float: none;
        /*margin-right: 5px;*/
        /*position: absolute;*/
        /*top: 0px;*/
        /*right: 0px;*/
        /*left: 0px;*/
        /*width: 100%;*/
        margin: 1.5em auto;
        padding: 0;
        text-align: center;
    }
    
    #header .block-locale li {
        /*float: left;*/
        /*display: block;*/
        /*width: 33.333%;*/
        /*border-radius: 5px;*/
    }
    
    #header .block-locale li.divider {
        display: none;
    }
    
    #header .block-locale a {
        background-color: #292763;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-size: 0.875em;
        width: 49%;
        padding: 0.875em;
    }
    
    #header .block-locale li.active a {
        background-color: #BA131A;
        color: #fff;
    }
    
    #header .social-networking-badges p a {
            margin-right: 5px;
    }
    
    #header .social-networking-badges p a:last-of-type {
            margin-right: 0;
    }
    
    #header .social-networking-badges p a:hover {
            position: relative;
            top: inherit;
    }
    
    #header .social-networking-badges,
    .domain-drupal-tundratechnical-ca #header .social-networking-badges{
        float: none;
        clear: both;
        margin: 0 auto;
        width: 143px;
    }
    

/*    .main-menu {
        clear: both;
            padding: 0;
            height: auto;
            position: relative;
            bottom: 0;
            right:auto;
            display: block;
            margin: 0;
            overflow: hidden;
            z-index: auto;
    }
    .main-menu ul {
        padding: 0;
        margin: 0;
    }
            .main-menu li
            {
                display:block;
                float:none;
                background:#292763;
                border-radius: 5px;
                margin-top: 5px;
                margin-right: 5px;
                margin-bottom: 5px;
                margin-left:0;
                padding: 0;
                border-bottom:inherit;				
            }				
            .main-menu li:hover
            {				
                background:#840003;
                cursor:pointer;				
                position:relative;
                top:auto;
            }

                        .main-menu li:hover a {
                padding: 13px 15px 15px;
            }
            .main-menu li a
            {
                 font-size:14px; 
                font-size:11px;
                color:#fff;
                font-weight:bold;
                text-decoration:none;				
                width:100%;
                padding:15px;
                display: inline-block;
            }			
            .main-menu li.active,
            .main-menu li.active-trail
            {
                background:#FFF;	
                border: 1px solid #292763;
                border-bottom:none;
                top:auto;
                position:relative;
            }			
            .main-menu li.active:hover,
            .main-menu li.active-trail:hover
            {
                background-color:#f1f1f1;
                cursor:pointer;
                top:auto;
            }			
                    .main-menu li.active a,
                    .main-menu li.active-trail a
                    {				
                            color:#292763;
                    }
            .main-menu li:hover a,
            .main-menu li.active-trail a {
                padding: 14px 15px;
                padding-bottom: 15px;
            }*/
    
    #content {
        padding: 0;
    }
    
    #content .field-item ol,#content .field-item ul {				
            /*margin:0 auto;*/			
            width:95%;
            /*padding:20px;*/
            /*border:1px solid #6F6F6F;*/
            /*background-color:#F1F1F1;*/
            /*margin-bottom:20px;*/
    }
    
    #content h1,
    .node-webform h2 {
            /*color: #BA131A;*/
            font-size: 1.8em;
            /*font-weight: bold;*/
            /*text-transform: uppercase;*/
             /*margin-bottom:20px;*/ 
            /*margin: 20px 0 20px;  Add margin between content and breadcrumb e.g. Job Order nodes */
            /*clear:both;*/
    }
    
    #content p {
            font-size: 1.125em;
            /*line-height: 1.5em;*/
            /*margin-bottom:20px;*/
    }
            
    .view-front-page-slideshow .skin-default {
        max-width: 100%;
        height: 21.875em; /*350px;*/
        /*position: relative;*/
        /*margin: 0 auto;*/
        /*padding: 0 20px;*/
        /*box-sizing: border-box;*/
    }
    
    .views-slideshow-cycle-main-frame-row {
        /*width: 100% !important; works now with IE8*/
        height: 21.875em; /*350px;*/
        /*overflow: hidden;*/
    }
    .view-front-page-slideshow .view-header,
    .view-front-page-slideshow-test .view-header {
        /*position: absolute;*/
        width: 100%;
        height: 21.875em; /*350px;*/
        /*left: 0;*/
        /*top: 0;*/
    }
    .view-front-page-slideshow .view-header .slideshow-controls,
    .view-front-page-slideshow-test .view-header .slideshow-controls {
        /*background-color: #fff;*/
        /*opacity: 0.25;*/
        /*position: absolute;*/
        /*width: 20px;*/
        height: 21.875em; /*350px;*/
        /*z-index: 99;*/
        /*cursor: pointer;*/
    }
    
    #footer {		
        text-align:center;
        background-color:#fff;
        width:100%;
        padding-bottom:10px;
        padding-left: 0;
        padding-right: 0;
        overflow:hidden;
        margin:0 auto;
		
    }
    
    /*Footer Content Menu*/
    
    #footer .content-menu .menu-block-wrapper .menu {
	padding: 0.313em 0;
	text-align: left;
        margin: 0;
	list-style: none;
        overflow: hidden;
    }

    #footer .content-menu .menu-block-wrapper li {
            position: relative;
            opacity: 1;
            top: 0px;
            display: inline-block;
            float: left;
            margin: 0.125em 0;
            width: 100%;
            height: 7.813em; /*125px*/
            overflow: hidden;
            background-color: #f1f1f1;
            border: 1px solid #c0c0c0;
    }

    #footer .content-menu .menu-block-wrapper li:hover {
            background-color:#E5E5E5;
    }

    #footer .content-menu .menu-block-wrapper .menu h1 {
            color: #ba131a;
            font-size: 0.875em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1.250em;
            clear: both;
            line-height: 1;
            margin-left: 1.250em;
            margin-top: 1.250em;
    }

    #footer .content-menu .menu-block-wrapper .menu .indicator {
            background-image: url('/sites/all/themes/tundra/images/arrow_on.jpg');
            height: 13px;
            width: 13px;
            display: block;
            margin-top: 5px;
    }

    #footer .content-menu .menu-block-wrapper .menu p {
            margin-left: 1.250em;
            font-weight: bold;
            font-size: 0.688em;
    }

    #footer .content-menu .menu-block-wrapper li a {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 99;
    }
    
    /*Toll free numbers*/
    
    #footer ul.phone-numbers
    {
            display:inline-block;
            padding:10px 0 0;
            margin: 0;
    }
    #footer .phone-numbers li
    {
            float:none;
            display:block;
            font-size:14px;
            color:#B30000;
            font-weight:bold;
            /*padding:0px 70px 0 70px;*/			
    }
    #footer .phone-numbers .right-bumper
    {
            border-right:none;
            padding-right:0;
    }		
    #footer .phone-numbers .left-bumper
    {
            border-left:none;
            padding-left:0;
    }
    
    #footer .footer-menu ul.menu
    {		
            margin:0;
            padding:0;
            /*display:inline-block;*/
            /*border-bottom:1px solid #7E7E7E;*/
            /*border-top:1px solid #7E7E7E;*/
    }
            #footer .footer-menu li
            {
                    float:left;
                    display:block;
                    padding:0 0.625em;
                    margin: 0.313em 0;
                    width: 50%;
            }
            
            #footer .footer-menu li a {
                border-radius: 0.375em;
                color: #fff;
                display: block;
                width: 100%;
                background-color: #292763;
                padding: 0.375em 0;
            }
                    #footer .footer-menu li a:hover
                    {
                            color:#fff;
                    }
    
    .view-news .views-row {
	/*display:block;*/
	/*border:1px solid #292763;*/
	/*padding:20px;*/
	width:95%;
	/*margin:0 auto;*/
	/*background-color:#DDDDDD;*/
	/* font-style:italic; */
	margin-top:2.188em;
	/*position:relative;*/
    }

    .view-news .views-row-first {
      margin-top:3.750em;
    }

}

@media screen and (max-width: 960px) {
    #page {
        width: 100%;
    }
    
    #header {
        padding: 1em 1em 0;
    }
    
    #header .region-header {
        max-width: 100%; /*19.375em;*/
    }
    
    .view-front-page-slideshow .skin-default {
        max-width: 100%;
        
    }
    .view-front-page-slideshow .view-header,
    .view-front-page-slideshow-test .view-header {
        width: 100%;
    }
    
    #footer {		
        width:100%;	
    }
    
    
}

@media screen and (min-width: 480px) and (max-width: 761px) {
    #header
    {
        position:relative;
        /*height:104px;*/
        padding-top: 0.938em;
        padding-left: 0.313em;
        padding-right: 0;
        z-index:210;
        /*overflow:hidden;*/

        border-bottom: 1px solid #292763 !important;
    }
        
    #header #logo
    {
        margin-bottom: -6.250em;
    }
    
    #header .region-header {
        clear: inherit;
        width: auto;
        height: 7.188em;
        float: right;
    }
    
    #header .block-locale {
        border-top: none;
        float: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    #header .block-locale li {
        display: block;
        /*width: 100%;*/
        margin-right: 1.563em;
        margin-top: 0.313em;
        margin-bottom: 0.313em;
    }
    
    #header .block-locale li.active a {
        background-color: #BA131A;
        color: #fff;
    }
    
    #header .block-locale li a {
        background-color: #292763;
        border-radius: 0.313em;
        color: #fff;
        display: block;
        width: 100%;
        padding: 0.563em 0;
    }
    
    #header .block-locale li.divider {
        display: none;
    }
    
    #header .social-networking-badges {
        float: none;
    }
    
    
    #footer .content-menu .menu-block-wrapper li {
	/*position: relative;*/
	/*opacity: 1;*/
	/*top: 0px;*/
	/*display: inline-block;*/
	/*float: left;*/
	/*margin: 0.125em;*/
	/*width: calc(50% - 0.375em);*/
        height: 132px;
	/*overflow: hidden;*/
	/*background-color: #f1f1f1;*/
	/*border: 1px solid #c0c0c0;*/
    }
    
    #footer .footer-menu ul.menu
    {		
            margin:0;
            padding:0;
            /*display:inline-block;*/
            /*border-bottom:1px solid #7E7E7E;*/
            /*border-top:1px solid #7E7E7E;*/
    }
            #footer .footer-menu li
            {
                    float:left;
                    display:block;
                    padding:0 0.625em;
                    margin: 0.313em 0;
                    width: 50%;
            }
            
            #footer .footer-menu li a {
                border-radius: 0.375em;
                color: #fff;
                display: block;
                width: 100%;
                background-color: #292763;
                padding: 0.375em 0;
            }
                    #footer .footer-menu li a:hover
                    {
                            color:#fff;
                    }
    
}

@media screen and (min-width: 761px) {
    #mobile-header {
        display: none;
    }
}

@media screen and (max-width: 761px) {
    .main-menu {
        display: none;
    }
    
    .breadcrumb {
        display: none;
    }
    
    #content {
        padding: 10px;
    }
}

@media all and (min-width: 27em) {
    #footer .content-menu .menu-block-wrapper li {
            width: 50%;
            float: left;
    }
}

/*@media all and (min-width: 40em) {
    #footer .content-menu .menu-block-wrapper li {
            width: 33.3333333%;
    }
}*/

@media all and (min-width: 60em) {
    #footer .content-menu .menu-block-wrapper li {
            width: 24.5%;
            height: 8.250em;
    }
}