* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
	font-family: Helvetica,Verdana,Arial,sans-serif;	
	color: #292763;
	margin: 0px;
	padding: 0px;
	/*background-color: #F1F1F1;*/
        background-color: #FFF;
	line-height: 1em;
	/* text-align: center; */
}
#page
{
	width: 960px;
	margin:0 auto;
	position:relative;
	text-align:left;
	/*margin-bottom: 100px;*/
}

th{border: none !important;}

ol.tripList li
{
	font-size: inherit !important;
}

th.views-field
{
	width: 20px !important;
}

#pj_banner
{
	height: 150px;
}

#job_board_item_container
{
	width:100%;
	clear: both;
	padding-bottom: 20px;
}


#job_board_item_container #top_container
{
	width: 100%;
	clear: both;
}

#job_board_item_container #middle_container
{
	width: 100%;
	clear: both;
}

#job_board_item_container #top_container div
{
	float: left;
}

#job_board_item_container #top_container div#job_title
{
	width: 50%;
    word-wrap: break-word;
	text-align: left;
}

#job_board_item_container #top_container div#job_published
{
    text-align: right;
    text-transform: capitalize;
    width: 30%;
}

#job_board_item_container #top_container div#job_city
{
	    color: #8A8A8A;
    float: left;
    font-size: 12px;
    padding-left: 45px;
    text-align: right;
    text-transform: capitalize;
    width: 20%;
    word-wrap: break-word;

}

div.view-job-board div.view-content div.views-row-odd
{
	background-color: #F0F0F0;
}



#job_board_item_container #middle_container div#job_employment_type
{
    float: left;
    padding-left: 76px;
    text-align: center;
    width: 30%;
}



#job_board_item_container #middle_container div#job_category
{
    float: left;
    padding-left: 40px;
    text-align: left;
    width: 61%;
}


.view-news-articles .views-field-body
{
	    padding-left: 50px;
    padding-top: 20px;
    text-align: justify;
    width: 652px;
}

form#views-exposed-form-job-board-page div.views-submit-button
{
	padding-top: 29px;
}

body.page-node-7940 .sidebar .region-sidebar-second
{
	padding-top: 0px !important;
}

.twitter-timeline
{
	margin-left: -130px;
}

#block-views-pj-news-feed-block
{
	width: 627px;
}

iframe#twitter-widget-0
{
	margin-top: -50px;
}

.view-news-articles .view-content .views-row
{
	padding-bottom: 20px;
	line-height: 24px;
}

.view-pj-news-feed .view-content .views-row
{
	padding-bottom: 20px;
	line-height: 24px;
}

#pj-left-container
{
	    float: left;
    width: 65%;
}

#pj-right-container
{
	float: left;
    width: 24%;
    padding-left: 50px;
}

.news_story_image_right
{   
	border: 1px solid #000000;
    float: right;
    margin-left: 10px;
    padding: 10px;

}

.news_story_image_left
{   
	border: 1px solid #000000;
    float: left;
    margin-right: 10px;
    padding: 10px;

}

.news_story_image_right img
{
	border-radius: 5px 5px 5px 5px;
}

.news_story_image_left img
{
	border-radius: 5px 5px 5px 5px;
}

#why_tundra_box
{
	clear: both;
	padding-bottom: 10px;
}
	#header
	{
		position:relative;
		/*height:104px;*/
		padding-top:35px;
		padding-left: 0;
		padding-right: 0;
		z-index:210;
		/*overflow:hidden;*/
                
            border-bottom: 1px solid #292763 !important;
	}	
		#header #logo
		{
			display: block;
			float:left;
			margin-right: -257px;
		}
		#header .region-header {
			/* float: left; */
			clear: none;
			width: 960px;
			/* margin-left: -257px; */
		}
		#header .social-networking-badges
		{
			float:right;
			margin-bottom: 0;
		}		
		#header .social-networking-badges p {
			margin: 0;
		}
		#header .social-networking-badges p a {
			margin-right: 5px;
		}
		#header .social-networking-badges p a:hover {
			position: relative;
			top: -2px;
		}
		#header .block-locale {
			border-top: 3px solid #006;
			float: right;
			padding: 4px 0 0;
			margin: 0;
		}
		
		#header .block-locale ul {
			margin: 0;
			padding: 0;
		}
		
		#header .block-locale li {
			display: inline;
			list-style-type: none;
		}
		#header .block-locale li.divider {
			margin: 0 1.25em;
		}
		#header .block-locale a {
			color: #292763;
			font-family: arial;
			font-size: 0.60em;
			text-decoration: none;
			letter-spacing: 0.25em;
			text-transform: uppercase;
		}
		#header .block-locale li.active a {
			color: #BA131A;
		}
        #main {
            background-color: #FFF;
        }
	.front #content {
		margin-bottom:0px;
		padding:0px;
		min-height:0px;
	}
	.front #content p {
		margin: 0;
                font-size: 20px;
	}
	.front #content ul.links.inline a.translation-link {
		display: none;
	}
	#content {
		padding: 0;
	}
	#content
	{
/*		background-color:#fff;		move to #main*/
		padding:40px;
		clear: both;		
		position:relative;
		/*margin-bottom:100px;*/
		/*min-height:900px;*/
	}
        .sidebar-second #content {
            /*width: 700px;*/
            /*margin-right: -780px;*/
        }
        .sidebar-second .region-sidebar-second {
            /*margin-left: 780px;*/
            /*margin-right: -700px;*/
            /*width: 150px;*/
            padding-top: 60px;
        }
	#main {
            padding: 0;
	}
		.main-menu {
			padding: 0;
			height: auto;
			position: absolute;
			bottom: 0;
			right:0px;
			display: block;
			margin: 0;
                        z-index: 99;
		}				
			.main-menu li
			{
                            display:block;
                            float:left;
                            background:#292763;					
                            margin-left:5px;
                            padding: 0;
                            border-bottom:none;				
			}				
			.main-menu li:hover
			{				
                            background:#840003;
                            cursor:pointer;				
                            position:relative;
                            top:2px;
			}
                        
/*                        .main-menu li:hover a {
                            padding: 13px 15px 15px;
                        }*/
			.main-menu li a
			{
                            /* font-size:14px; */
                            font-size:11px;
                            color:#fff;
                            font-weight:bold;
                            text-decoration:none;				
                            width:100%;
                            padding:15px;
                            display: inline-block;
			}			
			.main-menu li.active,
			.main-menu li.active-trail
			{
                            background:#FFF;	
                            border: 1px solid #292763;
                            border-bottom:none;
                            top:2px;
                            position:relative;
			}			
			.main-menu li.active:hover,
			.main-menu li.active-trail:hover
			{
                            background-color:#f1f1f1;
                            cursor:pointer;
                            top:2px;
			}			
				.main-menu li.active a,
				.main-menu li.active-trail a
				{				
					color:#292763;
				}
                        .main-menu li:hover a,
                        .main-menu li.active-trail a {
                            /*padding: 14px 15px;*/
                            padding-bottom: 13px;
                        }
		#content h1,
                .node-webform h2
		{
			color: #BA131A;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			 margin-bottom:20px; 
			/*margin: 20px 0 20px;  Add margin between content and breadcrumb e.g. Job Order nodes */
			clear:both;
		}

		div.view-job-board div.view-filters
		{
			clear: both;
		}

		div.view-job-board div.view-content
		{
			clear: both;
		}
		.content h2
		{			
			font-size: 13px;
			font-weight: bold;		
			padding:10px;
			
		}	
		.content p
		{
			font-size: 1em;
			line-height: 22px;
			margin-bottom:20px;
			/*text-align: justify;*/

		}
			.content p .appIcon
			{
				float:left;
				border:1px solid #292763;
				margin:10px 20px 20px 0px;
				position:relative;
			}
			.content .field-item {
				overflow: hidden;
			}
		/*#content ol, #content ul*/
		/* ol.content-list, .ul.content-list */
		.content ol,.content ul
		{				
			margin:0 auto;			
			width:80%;
			padding:20px;

			margin-bottom:20px;
		}
		/*#content ol li, #content ul li*/
		/* ol.content-list li, ul.content-list li */
		.content ol li, .content ul li
		{					
			margin:12px;			
			font-size:inherit;			
			list-style-position:inside;
		}

		#content .field-item ol li:before
		{
			font: bold 50px/1 Sans-Serif;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		.ffdf
		{
			counter-reset: this-counter;
			margin: 0 auto 20px;
			padding: 20px;
			width: 80%;
		}

		.ffdf dd
		{
			line-height: 22px;
    		margin: 0 0 0 40px;
    		padding-bottom: 27px;
		}

		.ffdf dt
		{
			padding-left: 50px;
			height: 75px;
		}

		.ffdf dt:before
		{
			content: counter(this-counter, decimal);
    		counter-increment: this-counter;
		    font: bold 50px/1 Sans-Serif;
		    position: absolute;
		        left: 130px;
		}


	.front #footer {
		position: static;
	}
        .front .breadcrumb {
            display: none;
        }
	.breadcrumb {
		font-size: 12px;
                margin-bottom: 20px;
	}
	.submitted {
		font-size: 12px;
		font-style: italic;
	}
	.links {
		font-size: 12px;
	}
	#footer
	{		
		text-align:center;
		/*border-top:1px solid #C9C9C9 !important;*/
		/*position:fixed;*/
		/*bottom:0px;*/
		background-color:#fff;
		width:960px;
		padding-bottom:10px;
		padding-left: 0;
		padding-right: 0;
		overflow:hidden;
		margin:0 auto;
		/*z-index: 2;*/
		
	}
        
        .content-menu {
            border-top: 1px solid #c9c9c9;
            background: #ffffff;
/*            bottom: 0px;
            position: relative;*/
        }
/* 		#footer .region-content-menu { */
/* 			border-bottom:1px solid #C9C9C9; */
/* 			padding:2px 0; */
/* 			text-align:left; */
/* 			margin:5px 0 5px 0; */
/* 			height:145px; */
/* 		} */
/* 		#footer .region-content-menu ul.menu{ */
/* 			padding: 0; */
/* 			margin: 0; */
/* 		} */
/* 		#footer .region-content-menu ul.menu li { */
/* 			display:inline-block; */
/* 			float:left; */
/* 			margin:2px; */
/* 			width:234px; */
/* 			height:132px; */
/* 			overflow:hidden; */
/* 			background-color:#F1F1F1; */
/* 			border:1px solid #C0C0C0; */
/* 			position: relative; */
/* 		} */
/* 		#footer .region-content-menu ul.menu li:hover { */
/* 			background-color:#E5E5E5; */
/* 		} */
/* 		#footer .region-content-menu ul.menu h1 { */
/* 			color:#BA131A; */
/* 			font-size:14px; */
/* 			font-weight:bold; */
/* 			text-transform:uppercase; */
/* 			margin-bottom:20px; */
/* 			clear:both; */
/* 			width:70%; */
/* 			margin-left:20px; */
/* 			margin-top:20px; */
/* 		} */
/* 		#footer .region-content-menu ul.menu .icon { */
/* 			position:absolute; */
/* 			right:10px; */
/* 			top:30px; */
/* 		} */
/* 		#footer .region-content-menu ul.menu .indicator { */
/* 			background-image:url('/sites/all/themes/tundra/images/arrow_on.jpg'); */
/* 			height:13px; */
/* 			width:13px; */
/* 			display:block; */
/* 			margin-top:5px; */
/* 		} */
/* 		#footer .region-content-menu ul.menu p { */
/* 			width:70%; */
/* 			margin-left:20px; */
/* 			font-weight:bold; */
/* 			font-size:11px; */
/* 		} */
/* 		#footer .region-content-menu ul.menu li a { */
/* 			display:block; */
/* 			width:100%; */
/* 			height:100%; */
/* 			position:absolute; */
/* 			left:0px; */
/* 			top:0px; */
/* 			z-index:99; */
/* 		} */
/* 		#footer .region-content-menu ul.menu li a#get-experts { */
/* 			background: url('/sites/all/themes/tundra/images/get-experts.png') 85% 30px no-repeat; */
/* 		} */
		#footer .block {
			margin: 0;
		}
		#footer p
		{
			clear:both;
			font-size:10px;
			margin: 0;
		}
		#footer ul.phone-numbers
		{
			display:inline-block;
			padding:0.625em 0 0;
			margin: 0;
		}
		#footer .toll-free-numbers {
                    border-top: 1px solid #c9c9c9;
                    margin: 0;
		}
		#footer .phone-numbers li
		{
			float:left;
			display:block;
			font-size:14px;
			color:#B30000;
			font-weight:bold;
			/*padding:0px 70px 0 70px;*/			
		}
		#footer .phone-numbers .right-bumper
		{
			border-right:1px solid #C5C5C5;
                        padding-right: 1.375em;
		}		
		#footer .phone-numbers .left-bumper
		{
			border-left:1px solid #7E7E7E;
                        padding-left: 1.375em;
		}		
		#footer .footer-menu ul.menu
		{		
			margin:10px 0 10px 0;
			padding:5px;
			display:inline-block;
			border-bottom:1px solid #7E7E7E;
			border-top:1px solid #7E7E7E;
		}
			#footer .footer-menu li
			{
				float:left;
				display:block;
				padding:0px 10px 5px 10px;
			}
				#footer .footer-menu li a
				{
					font-size:11px;
					color:#666666;					
				}				
				#footer .footer-menu li a:hover
				{
					color:#B30000;
				}
	/* .node-type-page .title {
		display: none;
	}
	 */
/* ZEN override */
	div.messages {
		margin: 0;
	}
/* B.S. IE 7 HACK */	
#footer .phone-numbers,#footer .footer-menu{
zoom: 1;
*display: inline;
}

/* Domain specific */

.domain-drupal-tundratechnical-ca #header .social-networking-badges {
    margin-right: 25px;
}

/* Job Order details */

.jobDetailsTable{width:100%;text-align:left;font-size:14px;margin-bottom:40px;border:1px solid #ccc;margin-top:10px;}
.jobDetailsTable td{padding:10px;border-bottom:1px solid #ccc;line-height: 1.5em;}
.jobDetailsTable th{border:none;}
.jobDetailsTable .property{width:20%;background-color:#E1E1E1;font-weight:bold;}
.jobDetailsTable .jobActions{text-align:right;width:80%;height:60px;vertical-align:middle;border:1px solid #ccc;padding-right:10px;}
.jobDetailsTable .jobActions a{font-size:11px;width:100px;line-height:13px;padding:5px;border:1px solid #ccc;background-color:#fff;color:#111;text-decoration:none;text-align:center;padding-top:8px;margin-left:10px;}
.jobDetailsTable .jobActions a:visited{color:#111;}
.jobDetailsTable .jobActions a:hover{background-color:#2A2763;color:#fff;}
.jobDetailsTable span {
    line-height: 1.5em;
}

/* Job Board */

.view-job-board .view-content table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 3px;
	margin-bottom: 20px;
}

.view-job-board .view-content tr {
	border: 1px solid #000;
	height: 100px;
}

.view-job-board .view-content th {
	padding: 5px;
	border: none;
}

.view-job-board .views-field {

	text-align: center;
	font-size: 14px;
	vertical-align: middle;
}

.view-job-board tbody {
	background-color: #fff;
}

.view-job-board .view-content tr {
	border: 1px solid #000;
	height: 100%;
}

.view-job-board .odd .views-field {
	background-color: #f0f0f0;
}

.view-job-board .views-field {
	/*font-size: 13px;*/
	/*padding-left: 20px;*/
	/*padding-right: 20px;*/
        padding: 10px 20px;
	line-height: 22px;
}

.view-job-board .view-content td {
	border-bottom: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
}

.view-job-board .view-content .even td {
	background-color: #f9f9f9;
}

.view-job-board .view-content .title {
	width: 10%;
}

.view-btn {
	color: #111;
	font-size: 11px;
	display: block;
	width: 100%;
        max-width: 150px;
	line-height: 13px;
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #111;
	text-decoration: none;
}

.view-btn:visited {
	color:#111;
}

.view-btn:hover {
	background-color:#2A2763;
	color:#fff;
}

.view-job-board .view-content tbody .share{
	background-color: transparent;
	border-left: 1px solid #c9c9c9;
	padding: 0;
}

.view-job-board .views-exposed-form {
	/* background-color: #d8d8d8; */
	background: #d8d8d8 url('/sites/default/files/images/job_search.png') right top no-repeat padding-box;
	/*height: 100px;*/
	position: relative;
	padding: 20px;
	border: 1px solid #7c7c7c;
	margin-bottom: 20px;
}

.view-job-board .views-exposed-widget {
	/*display: inline;*/
	float: left;
	position: relative;
	bottom: -10px;
}

.view-job-board .view-filters .views-exposed-widget label{
	margin-bottom: 5px;
	padding-left: 2px;
	font-size: 13px;
}

.view-job-board .view-filters select {
	font-size: 12px;
}

.view-job-board .view-filters input[type=text] {
	width: 200px;
	font-size: 12px;
}

.sidebar-second .view-job-board {
    height: 400px;
    width: 100%;
}

.sidebar-second .view-job-board .views-slideshow-cycle-main-frame-row,
.sidebar-second .view-job-board .views-slideshow-cycle-main-frame {
    overflow: visible;
}

.sidebar-second .view-job-board .views-row {
    padding-top: 8px;
    margin-bottom: 8px;
}

.sidebar-second .view-job-board .views-row > div {
    padding-bottom: 8px;
}

/*.sidebar-second .view-job-board .label {
    background-color: #f9f9f9;
    display: block;
    font-size: 12px;
    padding: 4px;
}*/

.sidebar-second .view-job-board .field {
    font-size: 13px;
    padding: 4px;
}

.sidebar-second .view-job-board .title.field {
    font-size: 100%;
    padding: 0;
}

.sidebar-second .view-job-board .views-field-field-city,
.sidebar-second .view-job-board .views-field-field-country,
.sidebar-second .view-job-board .views-field-field-category,
.sidebar-second .view-job-board .views-field-field-employment-type,
.sidebar-second .view-job-board .views-field-field-published{
    float: left;
    /*margin-right: -20%;*/
    /*width: 20%;*/
    
}

.sidebar-second .view-job-board a {
    color: #BA131A;
    text-decoration: none;
}

/*.sidebar-second .views-slideshow-controls-bottom {
    margin-top: 10px;
}*/

/*.sidebar-second .views-slideshow-slide-counter {
    font-size: 11px;
    text-align: right;
}*/

/*.sidebar-second .view-job-board .view-content a.view-btn {
    text-align: center;
    width: auto;
}*/

.views-exposed-form .views-exposed-widget .form-submit,
.views-exposed-form .views-exposed-widget .form-reset {
	margin: 0;
	-webkit-appearance: push-button;
}

.view-news .views-row {
	display:block;
	border:1px solid #292763;
	padding:20px;
	width:80%;
	margin:0 auto;
	background-color:#DDDDDD;
	/* font-style:italic; */
	margin-top:35px;
	position:relative;
}

.view-news .views-row-first {
  margin-top:60px;
}

.view-news .content .field-type-image img,
.section-news .content img {
	border-top:5px solid #292763;
}

#content .view-news h2.node-title {
	font-size: 18px;
}

#content .view-news h2.node-title a {
    color: #292763;
    text-decoration: none;
}

#content .view-news h2 {
	padding: 0;
	background-color: transparent;
}

#content ul.tabs.primary {
	clear: both;
	border-top: none;
	border-bottom: 1px solid #292763;
}

#content ul.tabs.primary li {
	/*border: none;*/
	border-radius: 0;
	text-shadow: none;
	margin: 0;
}
#content ul.links.inline li,
#content ul.tabs.primary li{
	display:block;
	float:left;
	background:#292763;					
	margin-left:5px;
	padding: 0;
	border-bottom:none;	
}

#content ul.tabs.primary li:hover
{				
	background:#840003;	
	cursor:pointer;				
	position:relative;
	top:2px;				
}

#content ul.tabs.primary li.active,
#content ul.tabs.primary li.active-trail
{				
	background:#FFF;
	border:1px solid #292763;	
	border-bottom:none;
	top:3px;
	position:relative;
}

#content ul.tabs.primary li.active:hover,
#content ul.tabs.primary li.active-trail:hover
{				
	background-color:inherit;
	cursor:pointer;
	top:3px;
}

#content ul.tabs.primary li a {
	border: none;
	border-radius: 0;
	-webkit-transition: none;
	background-color: transparent;
	background-image: none;
	text-align: inherit;
	line-height: 1;
}

#content ul.links.inline li a,
#content ul.tabs.primary li a {
	/* font-size:14px; */
	font-size:11px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;				
	width:100%;
	padding:15px;
	display: inline-block;
}

#content ul.tabs.primary li.active a,
#content ul.tabs.primary li.active-trail a
{				
	color:#292763;
}

legend {
	/* display:block; */
	/* float:left; */
	background:#292763;					
	margin-left:5px;
	padding: 0;
	border-bottom:none;
}

legend a {
	/* font-size:14px; */
	font-size:11px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;				
	width:100%;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	display: inline-block;
}

fieldset {
	margin: 10px 0;
	border-color: #292763;
}

html.js fieldset.collapsible .fieldset-legend {
  background: url(/misc/menu-expanded-white.png) 5px 65% no-repeat; /* LTR */
  padding-left: 15px; /* LTR */
}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url(/misc/menu-collapsed-white.png); /* LTR */
  background-position: 5px 50%; /* LTR */
}

.fieldset-legend span.summary {
	font-size: 0;
	margin-left: 0;
	color: none;
}

.page-job-board-referral #referral-container-wrapper {
	clear: both;
}

.page-job-board-referral .col1 {
	clear: left;
	margin-right: 5px;
}

.page-job-board-referral .col1,
.page-job-board-referral .col2 {
	float: left;
}

.page-job-board-referral #referral-container-wrapper {
	position: relative;
	overflow: hidden;
}

.page-job-board-referral #referral-container-wrapper input[type="submit"] {
	/* position: absolute;
	bottom: 1.5em; */
	margin: 2.5em 0 1.5em 0.25em;
	float: left;
}



/* Content menus */

.content-menu .menu {
    overflow: hidden;
    padding: 0.125em 0 0 0.125em;
    max-width:60.000em;
    margin: 0.125em auto;
    list-style: none;
    text-align: left;
}

.content-menu .leaf {
    /*background-color: #f1f1f1;*/
    /*border: 1px solid #c0c0c0;*/
    padding: 0 0.125em 0.125em 0;
    list-style-image: none;
    list-style-type: none;
    height: 8.250em;
}

.content-menu .leaf > div {
    background-color: #f1f1f1;
    border: 1px solid #c0c0c0;
    height: 100%;
    overflow: hidden;
}

.content-menu .leaf:hover > div{
	background-color:#E5E5E5;
}

.content-menu h1 {
	color: #ba131a;
	font-size: 0.875em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1.250em;
	clear: both;
	width: 70%;
	line-height: 1;
	margin-left: 1.250em;
	margin-top: 1.250em;
}

.content-menu .indicator {
	background-image: url('/sites/all/themes/tundra/images/arrow_on.jpg');
	height: 13px;
	width: 13px;
	display: block;
	margin-top: 5px;
}

.content-menu .menu p {
	width: 70%;
	margin-left: 20px;
	font-weight: bold;
	font-size: 11px;
}

.content-menu .leaf a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
        overflow: hidden;
	top: 0px;
	z-index: 99;
}

/* Content menu Main menu */

#get-hired {
	background: url('/sites/default/files/images/careers.png') no-repeat right center;
}

#get-experts {
	background: url('/sites/default/files/images/people.png') no-repeat right center;
}

#get-connected {
	background: url('/sites/default/files/images/partner.png') no-repeat right center;
}

#get-paid {
	background: url('/sites/default/files/images/cash-home.png') no-repeat right center;
}

/* Content menu About Us menu */

#client-testimonials-menu-item {
	background: url('/sites/default/files/images/bus.png') no-repeat right center;
}

#consultant-testimonials-menu-item {
	background: url('/sites/default/files/images/employee.png') no-repeat right center;
}

#news-menu-item {
	background: url('/sites/default/files/images/news.png') no-repeat right center;
}

#green-initiative-menu-item {
	background: url('/sites/default/files/images/leaf.png') no-repeat right center;
}

/* Content menu Employers menu */

#employers-menu-item {
	background: url('/sites/default/files/images/search.png') no-repeat 50% 75%;
}

#information-technology-menu-item {
	background: url('/sites/default/files/images/laptop.png') no-repeat 50% 80%;
}

#engineering-menu-item {
	background: url('/sites/default/files/images/tools.png') no-repeat 50% 90%;
}

#contact-us-menu-item {
	background: url('/sites/default/files/images/message.png') no-repeat 50% 90%;
}

/* Content menu Tundra TRIP menu */

#start-searching-menu-item {
	background: url('/sites/default/files/images/search.png') no-repeat 50% 75%;
}

#watch-menu-item {
	background: url('/sites/default/files/images/youtube.png') no-repeat 50% 85%;
}

#terms-conditions-menu-item {
	background: url('/sites/default/files/images/flag.png') no-repeat 50% 80%;
}

/*Front page Slideshow*/

#block-views-front-page-slideshow-block, /* New slideshow */
#block-views-front-page-slideshow-block-1 {
    margin:0;
}

.skin-default {
    max-width: 60.000em; /*960px;*/
    height: 18.750em; /*300px;*/
    position: relative;
    margin: 0 auto;
    /*padding: 0 20px;*/
    /*box-sizing: border-box;*/
}

.views-slideshow-cycle-main-frame-row {
    width: 100% !important; /*works now with IE8*/
    height: 18.750em; /*300px;*/
    overflow: hidden;
}

.views-slideshow-cycle-main-frame-row-item {
    /*position: relative;*/
    /*padding: 35px;*/
    /*box-sizing: border-box;*/
    /*z-index: 1;*/
}

#block-views-front-page-slideshow-block .views-field-title{
    padding: 2.188em 3.438em 0 3.438em; /*35px 55px 0 55px*/
}

#block-views-front-page-slideshow-block .views-field-body,
#block-views-front-page-slideshow-block .views-field-nothing,
#block-views-front-page-slideshow-block .views-field-field-slideshow-caption{
    padding: 0 3.438em; /*0 55px;*/
}

#block-views-front-page-slideshow-block h1.field-slideshow-caption {
    margin-top: 12.500em; /*200px;*/
    margin-bottom: 0;
}

#block-views-front-page-slideshow-block .slideshow-link {
    /*display: block;*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.views-field {
    overflow: hidden;
}

.slideshow-link a {
    background-color: rgba(204,204,204,0.01);
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    /*box-sizing: border-box;*/
    width: 100%;
    height: 300px;
}

.view-front-page-slideshow-test {
    position: relative;
}

.view-front-page-slideshow-test .view-content {
    width: 60.000em; /*960px;*/
    height: 18.750em; /*300px;*/
}

.view-front-page-slideshow h1 a {
    color: #BA131A;
    font-size: 1.563em; /*25px;*/
    font-weight: bold;
    text-transform: uppercase;
    clear:both;
    text-decoration: none;
}

.view-front-page-slideshow .views-field-body {
    margin-bottom: 1.563em; /*25px;*/
}

    #content .view-front-page-slideshow .views-field-body p{
        font-size: 1.250em;
    }

.view-front-page-slideshow blockquote {
    margin: 0;
    padding: 0;
}

.view-front-page-slideshow .views-field-term-node-tid,
.view-front-page-slideshow .views-field-type {
/*    float: left;*/
    display: none;
}


/*#block-views-front-page-slideshow-block,
.view-front-page-slideshow,
.views-slideshow-cycle-main-frame,
.views_slideshow_cycle_slide,
.views-slideshow-cycle-main-frame-row-item {
    margin: 0;
    padding: 0;
    width: 960px;
    height: 300px;
    position: relative;
}

.sidebar-second .views-slideshow-cycle-main-frame-row-item {
    width: 160px;
    height: auto;
}

.views_slideshow_main .views-field-content {
    background-color: #292763;
    color: #fff;
     opacity: 0.8; 
    position: absolute;
    padding: 20px;
    top: 0;
    width: 210px;
	height: 260px;
}

.views_slideshow_main .views-field-content blockquote {
    margin: 0;
    padding: 0;
}

.views_slideshow_main .views-field-content blockquote:before,
.views_slideshow_main .views-field-content blockquote:after {
	color: #fff;
}

.views_slideshow_main .views-field-content h1 a {
    color:#BA131A;
     font-size:14px;
    font-weight:bold;
    text-transform:uppercase; 
    text-decoration:none;
     margin-top: 0;
    clear:both; 
}

.views_slideshow_main .views_slideshow_cycle_slide.views-row-odd .views-field-content {
    left: 0px;
}

.views_slideshow_main .views_slideshow_cycle_slide.views-row-even .views-field-content {
    right: 0px;
}

.views_slideshow_main .views_slideshow_cycle_slide.views-row-odd img {
	margin-left: 250px;
}

.views_slideshow_main .views_slideshow_cycle_slide.views-row-even img {
	margin-right: 250px;
}

*/

.view-front-page-slideshow .view-header,
.view-front-page-slideshow-test .view-header {
    position: absolute;
    width: 60.000em; /*960px;*/
    height: 100%; /*300px;*/
    left: 0;
    top: 0;
}


.view-front-page-slideshow .view-header .slideshow-controls,
.view-front-page-slideshow-test .view-header .slideshow-controls {
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    width: 20px;
    height: 100%; /*300px;*/
    z-index: 99;
    cursor: pointer;
}

.view-front-page-slideshow .view-header .slideshow-prev, 
.view-front-page-slideshow-test .view-header .slideshow-prev {
    background: url('/sites/all/themes/tundra/images/chev_prev.png') no-repeat center center;
    left: 0;
    top: 0;
}

.view-front-page-slideshow .view-header .slideshow-prev:hover,
.view-front-page-slideshow-test .view-header .slideshow-prev:hover {
    background-color: #DDD;
}

.view-front-page-slideshow .view-header .slideshow-next,
.view-front-page-slideshow-test .view-header .slideshow-next {
    background: url('/sites/all/themes/tundra/images/chev_next.png') no-repeat center center;
    right: 0;
    top: 0;
}

.view-front-page-slideshow .view-header .slideshow-next:hover,
.view-front-page-slideshow-test .view-header .slideshow-next:hover {
    background-color: #DDD;
}

#views_slideshow_cycle_main_front_page_slideshow-block h2 {
  	padding: 0;
    background-color: transparent;
}

.view-front-page-slideshow .slide-link {
	display: block;
	width: 250px;
	height: 260px;
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
}

/*#views-slideshow-xtra-overlay--front-page-slideshow-test--attachment-1 {
    width: 960px;
    height: 300px;
}*/

.views-slideshow-xtra-overlay-row.video-overlay {
    position: absolute;
/*    bottom: 0px;*/
}

.video-overlay {
    width: 960px;
    height: 300px;
}

.video-overlay a {
    display: block;
    width: 960px;
    height: 300px;
        
/*    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);

    background-color:#ededed;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #dcdcdc;

    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;

    text-shadow:0px 1px 0px #ffffff;*/
}
/*    .video-overlay a:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        
        background-color:#dfdfdf;
    }
    .video-overlay a:active {
        position:relative;
        top:1px;
    }*/


.node-type-testimonial .node-testimonial .content {
	display:block;
	border:1px solid #292763;
	padding:20px;
	width:80%;
	margin:0 auto;
	background-color:#DDDDDD;
	font-style:italic;
	margin-top:35px;
	position:relative;
}

.node-type-testimonial .node-testimonial .field-name-field-signature {
	display:block;
	text-align:right;
	margin-top:10px;
	font-style:normal;
	font-weight:bold;
	font-size:12px;
	width:80%;
	margin-left:20%;
}

blockquote {
	margin:1.5em 10px;
	padding:.5em 10px;
	quotes:"\201C""\201D";
}

blockquote:before {
	color:#292763;
	content:open-quote;
	font-size:1em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-.1em;
}

blockquote:after {
	color:#292763;
	content:close-quote;
	font-size:1em;
	line-height:.1em;
	margin-left:.05em;
	vertical-align:-.1em;
}

.front blockquote:before {
	color:#292763;
	content:open-quote;
	font-size:2em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-.1em;
}

.front blockquote:after {
	color:#292763;
	content:close-quote;
	font-size:2em;
	line-height:.1em;
	margin-left:.05em;
	vertical-align:-.1em;
}

blockquote p {
	display:inline;
}

.node-webform .submitted {
  display: none;
}

#webform-component-your-name,
#webform-component-your-email,
#webform-component-friends--friends-name,
#webform-component-friends--friends-email {
  display: inline-block;
  width: 40%;
}

#webform-component-friends {
  border: 0;
  padding: 0;
}

#webform-component-job-order {
	display: none;
}

/** Non-specific Style **/

.submitted {
	display: none;
}

body.section-about-us #content p
    {
    	font-size: 1em;
    	line-height: 22px;
    	margin-bottom: 20px;
    	text-align: justify;
    }

    body.section-about-us #content h1
    {
    	clear: both;
    	color: #BA131A;
    	font-size: 20px !important;
    	font-weight: bold;
    	margin-bottom: 20px;
    	text-transform: uppercase;
    }
    
    .ui-tooltip {
        width: 100% !important;
    }
.ui-tooltip, .qtip{
	max-width: 735px;
        min-width: 100px;
}

.qtip-link, .qtip-additional-element {
  border-bottom: none;
}

@media all and (max-height: 600px) {
/*    #footer {
        position: static;
    }*/
    #page #content {
        margin-bottom: 0;
    }

    

}
