.view-testimonials .views-row {
  display:block;
  padding:1.250em;
  width:80%;
  margin:0 auto;
  font-style:italic;
  margin-top:0px;
  position:relative;
}
.view-testimonials .views-field-field-signature {
  display:block;
  text-align:right;
  margin-top:10px;
  font-style:normal;
  font-weight:bold;
  font-size:inherit;
  /*width:80%;*/
  /*margin-left:20%;*/
  padding: 0 20px 0 20%;
}
.view-testimonials .views-row-first{
  margin-top:0px;
}
.view-testimonials .view-header{
  min-height:100px;
}


@media screen and ( max-width: 320px ) {
    .view-testimonials .views-row {
        width:95%;
        padding: 0.175em;
    }
}
